body{
    background-color: #000000;
    display: flex;                 /* make body a flex container */
    justify-content: center;       /* horizontal center */
    align-items: center;           /* vertical center */
}

.inputs {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);

    width: 400px;
    color: white;
}

input{
    background-color: #1c1c1c;
    height: 50px;
    width: 80vh;
    padding: 0 12px;         
    border: 2px solid rgb(79, 79, 79);
    border-radius: 8px; 
    color: white;  
    font-size: 16px;
}

#pnum{
    padding-left: 42px;
    background-image: url("/Images/Phonenumber.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;}

#cnum{
    padding-left: 42px;
    background-image: url("/Images/Car.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;
}
#enum{
    padding-left: 42px;
    background-image: url("/Images/Emer.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;
}
#email{
    padding-left: 42px;
    background-image: url("/Images/Email.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 30px;
}

#submit{
    background-color: rgb(42, 36, 123);
    color: white;
    transition: background-color 0.3s ease, border-color 0,3s ease;
}
#submit:hover {
  background-color: #5e749e;
  border-color: azure;
}
